<h2>ĐĂNG KÝ</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ĐĂNG KÝ</button>
</form>
<a href="{% url 'login' %}">Bạn đã có tài khoản, hãy đăng nhập</a>
{% if form.errors %}
  <ul style="color: red;">
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ field.label }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}